.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  place-items: center;
  gap: 15px;
}
.todo-item {
  border: 2px solid black;
  width: 80%;
  height: 50px;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}
.todo-edit {
  display: flex;
  align-items: center;
  justify-content: center;
}
